$default-font: "Montserrat", sans-serif
$accent: #91BF29
$text: #303844

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width



.logo
    display: inline-block
    width: 95px
    height: 45px
    background-position: 0 0
    background-repeat: no-repeat
    background-image: url(../img/logo.svg)

.menu-toggler
    width: 48px
    height: 48px
    display: inline-block
    background-position: 0 0
    background-repeat: no-repeat
    background-image: url(../img/menu.svg)
    cursor: pointer
    transition: .3s ease
    &:hover
        opacity: 0.8
.heading
    &_md
        font-weight: 600
        font-size: 36px
        line-height: 130%
        color: #000000

.main-wrapper
    position: relative
    overflow: hidden
    width: 100%
    max-width: 100%

.text-center
    text-align: center 
.pt
    padding-top: 70px
.pb
    padding-bottom: 70px  

.w-auto
    width: auto !important

.text-green
    color: #91BF29 !important

.btn
    background: #91BF29
    border-radius: 30px
    font-size: 18px
    color: #F2F7FA
    border: 0
    height: 60px
    width: 300px
    cursor: pointer
    transition: .3s ease
    &:hover
        opacity: 0.8
    &_secondary
        background: #fff
        color: #303844
        border: 2px solid #D7F0FF
a.btn
    display: inline-block
    line-height: 60px
    text-decoration: none !important
    color: #F2F7FA

a.btn_secondary
    background: #fff
    color: #303844
    border: 2px solid #D7F0FF
    text-decoration: none
    text-align: center
.btn-more
    cursor: pointer
    font-size: 18px
    color: #303844
    height: 60px
    width: 100%
    border: 2px solid #303844
    border-radius: 30px
    background-color: transparent
.text
    font-size: 16px
    line-height: 130%
    color: #303844

    ul
        li
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 140%
            color: #666B71
            list-style-type: none
            padding-left: 20px
            position: relative
            &:before
                content: ""
                width: 3px
                height: 3px
                background-color: #666B71
                position: absolute
                top: 8px
                left: 0
                border-radius: 50%


.slick-prev, .slick-next
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: rgba(255,255,255,0.5)
    border: 0
    position: absolute
    top: 50%
    margin-top: -25px
    cursor: pointer
    display: flex
    z-index: 10
    svg
        margin: auto
        path
            transition: .3s ease
    &:hover
        svg
            path
                fill: $accent

.slick-prev
    left: -60px

.slick-next
    right: -60px
    svg
        transform: rotate(180deg)

.slider
    


    .slick-dots
        width: 100%
        display: flex
        justify-content: center
        li
            list-style-type: none
            width: 10px
            height: 10px
            display: inline-flex
            margin-right: 10px
            button
                border: 0
                text-indent: -99999px
                width: 10px
                height: 10px
                border-radius: 50%
                background-color: #E6E7E8
                transition: .3s ease
                cursor: pointer
                &:hover
                    background-color: $accent

            &.slick-active
                button
                    background-color: $accent


.egg
    background-repeat: no-repeat
    background-position: 0 0
    margin-top: 30px
    display: inline-block
    &__inner
    
    &__digit
        display: flex
        img
            position: relative
            left: 25px
        span
            font-style: normal
            font-weight: normal
            font-size: 64px
            line-height: 78px
            color: #FFFFFF
        &_no-left
            img
                left: 0
    &__title
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 24px
        color: #FFFFFF
        text-align: left
        width: 150px
        padding-left: 25px
        &_center
            text-align: center !important
    &_black
        .egg
            &__digit
                span
                    color: #303844
            &__title
                color: #303844
    &_1
        background-image: url(../img/egg1.svg)
        width: 307px
        height: 278px
        padding-top: 84px
        padding-left: 120px
    &_2
        background-image: url(../img/egg2.svg)
        width: 307px
        height: 249px
        padding-top: 84px
        padding-left: 75px
    &_3
        background-image: url(../img/egg3.svg)
        width: 328px
        height: 254px
        padding-top: 84px
        padding-left: 110px
    &_4
        background-image: url(../img/egg4.svg)
        width: 296px
        height: 295px
        padding-top: 81px
        padding-left: 97px
    &_5
        background-image: url(../img/egg5.svg)
        width: 261px
        height: 265px
        padding-top: 80px
        padding-left: 60px
    &_6
        background-image: url(../img/egg6.svg)
        width: 307px
        height: 287px
        padding-top: 80px
        padding-left: 70px

    &_01
        background-image: url(../img/egg01.svg)
        width: 269px
        height: 213px

    &_02
        background-image: url(../img/egg02.svg)
        width: 293px
        height: 255px

    &_03
        background-image: url(../img/egg03.svg)
        width: 301px
        height: 255px

    &-1
        background-image: url(../img/egg-1.svg)
        width: 330px
        height: 244px
        padding-top: 42px
        padding-left: 60px
        .egg__title
            margin-top: 10px
            width: 100%

    &-2
        background-image: url(../img/egg-2.svg)
        width: 308px
        height: 250px
        padding-top: 42px
        padding-left: 50px
        .egg__title
            margin-top: 10px
            width: 100%

    &-3
        background-image: url(../img/egg-3.svg)
        width: 305px
        height: 194px
        padding-top: 22px
        padding-left: 70px
        .egg__title
            margin-top: 10px
            width: 100%
            color: #303844

    &-4
        background-image: url(../img/egg-4.svg)
        width: 332px
        height: 246px
        padding-top: 32px
        padding-left: 70px
        padding-right: 10px
        .egg__title
            margin-top: 10px
            width: 100%

   
    &_v2
        padding-top: 90px
        padding-left: 20px
        .egg
            &__title
                font-size: 18px
                font-weight: normal
                width: 100%
            &__digit
                span
                    font-size: 52px
                    line-height: 1.21
                    text-align: center


    &_g1
        background-image: url(../img/egg-green.svg)
        width: 301px
        height: 255px

    &_o1
        padding-left: 0
        .egg
            &__title
                padding-left: 0
                text-align: center
            &__digit
                width: 100%
                text-align: center
                span
                    display: inline-block
                    width: 100%
                    font-size: 48px
                    text-align: center


    &_001
        background-image: url(../img/egg001.svg)
        width: 318px
        height: 269px
        padding-left: 70px
        padding-top: 50px
        .egg__digit
            display: block
            img
                left: 0
        .egg__title
            width: 100%
            padding-left: 0
            line-height: 1.2

    &_002
        background-image: url(../img/egg002.svg)
        width: 307px
        height: 249px
        padding-left: 70px
        padding-top: 50px
        .egg__digit
            display: block
            img
                left: 0
        .egg__title
            width: 100%
            padding-left: 0
            line-height: 1.2

    &_003
        background-image: url(../img/egg003.svg)
        width: 269px
        height: 237px
        padding-left: 96px
        padding-top: 60px
        .egg__digit
            display: block
            img
                left: 0
        .egg__title
            width: 100%
            padding-left: 0
            line-height: 1.2
            color: #303844

.egg-5
    background-image: url(../img/egg-5.svg)
    width: 307px
    height: 249px
    padding-top: 50px
    padding-left: 70px
    padding-right: 10px
    .egg__title
        margin-top: 10px
        width: 100%

.card
    border: 1px solid #D7F0FF
    border-radius: 30px
    overflow: hidden
    height: 100%
    background-color: #fff
    &__img
        img
            border-radius: 30px
            max-width: 100%
            height: auto
    &__title
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 24px
        color: #303844
        margin-bottom: 16px
    &__content
        padding: 30px 20px
        .text
            min-height: 2.6em

    .btn
        width: 100%
        margin-top: 10px

.col-card
    margin-bottom: 30px



.form
    &__input
        background: #FFFFFF
        border-radius: 30px
        width: 100%
        height: 60px
        border: 0
        padding-left: 20px
        padding-right: 20px
        margin-bottom: 15px
    &__text
        background: #FFFFFF
        border-radius: 30px
        width: 100%
        height: 60px
        border: 0
        font-size: 18px
        padding-left: 20px
        padding-right: 20px
        padding-top: 10px
        padding-bottom: 10px
        height: 200px   
        margin-bottom: 20px
    .btn
        margin-left: auto
        margin-right: auto
        display: block
        margin-top: 27px
    .input-inline
        width: 100px
        display: inline-block
        height: 50px
        border: 2px solid #D7F0FF
        border-radius: 30px
        padding-left: 10px
        padding-right: 10px
    .check-btn
        display: inline-block
        position: relative
        padding-left: 30px
        margin-bottom: 20px
        cursor: pointer
        font-size: 16px
        color: #2A2A2A
        user-select: none
        margin-right: 20px
        input
            position: absolute
            opacity: 0
            cursor: pointer
            height: 0
            width: 0
        .checkmark
            position: absolute
            top: 0
            left: 0
            height: 20px
            width: 20px
            background-color: #fff
            border-radius: 50%
            border: 2px solid #D7F0FF
            &:after 
                content: ""
                position: absolute
                width: 10px
                height: 10px
                top: 50%
                left: 50%
                margin-left: -5px
                margin-top: -5px
                background-color: #D7F0FF
                border-radius: 50%
        &:hover input ~ .checkmark 
            background-color: #fff

        input:checked ~ .checkmark 
            background-color: #fff

        input:checked ~ .checkmark:after 
            display: block


        .checkmark:after 
            display: none
         

    select
        width: 100%
        border: 2px solid #D7F0FF
        height: 50px
        border-radius: 30px
        padding-left: 20px
        -moz-appearance: none
        -webkit-appearance: none
        appearance: none
        background-repeat: no-repeat
        background-image: url(../img/arr-select.svg)
        background-position: 96% center

.list
    font-size: 18px
    line-height: 140%
    color: #303844
    padding-left: 28px
    background-repeat: no-repeat
    background-position: 0 0
    margin-top: 60px
    &_1
        background-image: url(../img/point1.svg)

    &_2
        background-image: url(../img/point2.svg)

    &_3
        background-image: url(../img/point3.svg)

    &_4
        background-image: url(../img/point4.svg)

    &_5
        background-image: url(../img/point5.svg)

    &_6
        background-image: url(../img/point6.svg)



.feedback
    &__item
        height: 100%
        border: 1px solid #D7F0FF
        border-radius: 40px
        padding-left: 20px
        padding-right: 20px
        padding-top: 40px
        padding-bottom: 40px
        &-tags
            margin-bottom: 16px
            a
                text-decoration: none
                font-size: 14px
                line-height: 17px
                color: #91BF29
        &-title
            font-weight: 600
            font-size: 22px
            line-height: 27px
            color: #36474F
            margin-bottom: 16px

        &-text
            font-size: 18px
            line-height: 22px
            color: #36474F


.feedback__item
    margin-left: 10px
    margin-right: 10px


.city
    font-weight: 600
    font-size: 22px
    line-height: 27px
    text-align: center
    color: #666B71



.section_region
    .heading
        margin-bottom: 16px

    .row-1
        margin-top: 60px

.point
    position: relative
    width: 67px
    height: 67px
    border-radius: 50%
    display: inline-block
    &:after
        content: ""
        display: block
        width: 27px
        height: 27px
        border-radius: 50%
        position: absolute
        left: 50%
        top: 50%
        margin-top: -13.5px
        margin-left: -13.5px
        border: 1px solid #fff
    &_1
        background-color: rgba(145, 192, 43, .18)
        &:after
            background-color: rgba(145, 192, 43, 1)

    &_2
        background-color: rgba(253, 184, 20, .18)
        &:after
            background-color: rgba(253, 184, 20, 1)

    &_3
        background-color: rgba(48, 56, 68, .18)
        &:after
            background-color: rgba(48, 56, 68, 1)




.form-order
    &__input, &__text
        width: 100%
        height: 60px
        border: 2px solid #d7f0ff
        border-radius: 30px
        padding-left: 20px  
        padding-right: 20px
        font-size: 18px
        color: #303844
        margin-bottom: 30px
        transition: .3s ease
        margin-bottom: 10px !important
        &:focus
            border-color: #D7F0FF
            background-color: #D7F0FF
        &_h-50
            height: 50px
        &_fz-16
            font-size: 16px
    .radios
        p
            padding: 0
            margin: 0
        label
            margin-bottom: 10px
            width: 100%
            background-color: #fff
            font-size: 18px
            color: #8e8e8e
            border-radius: 50px
            position: relative
            padding-right: 20px
            padding-left: 45px
            padding-top: 12px
            padding-bottom: 11px
            border: 2px solid #D7F0FF
        [type="radio"]:checked,
        [type="radio"]:not(:checked) 
            position: absolute
            left: -9999px

        [type="radio"]:checked + label
            color: #303844
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
            position: relative
            cursor: pointer
            display: inline-block
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after 
            content: ''
            width: 20px
            height: 20px
            background-repeat: no-repeat
            background-position: 0 0
            background-image: url(../img/active.svg)
            position: absolute
            top: 50%
            margin-top: -10px
            left: 20px
            transform: rotate(0)

        [type="radio"]:not(:checked) + label:after 
            background-image: url(../img/common.svg)
            transform: rotate(45deg)
        [type="radio"]:checked + label
            background-color: #D7F0FF
  


.step-block
    background-color: #fff
    display: flex
    flex-direction: column
    height: 100%
    padding: 30px
    width: 349px
    position: relative
    border: 2px solid #D7F0FF
    border-radius: 30px
    text-align: right
    min-height: 303px
    &__title
        text-align: center
        font-size: 18px
        color: #303844
        margin-bottom: 32px
   

.steps
    .btn
       width: calc(100%)
    &__item
        .step-block
            width: 100% !important
        height: 100%
        &-inner
            padding-left: 12.5px
            padding-right: 12.5px
            position: relative
            &:after
                content: ""
                display: block
                width: 16px
                height: 25px
                position: absolute
                top: 50%
                margin-top: -12.5px
                right: -9px
                background-repeat: no-repeat
                background-position: 0 0
                background-image: url(../img/arr.svg)
                transform: rotate(-90deg)
        &:last-child
            .steps__item-inner
                &:after
                    display: none
.filter-btn
    cursor: pointer
    font-size: 18px
    line-height: 22px
    color: #303844
    background-color: #D7F0FF
    height: 50px
    border-radius: 30px
    width: 100%
    border: 0
    padding-left: 30px
    text-align: left
    padding-right: 60px
    position: relative
    &:before
        content: ''
        width: 21px
        height: 21px
        background-repeat: no-repeat
        background-image: url(../img/filter.svg)
        position: absolute
        top: 15px
        right: 30px

.search-btn
    font-size: 18px
    line-height: 36px
    color: #F2F7FA
    background-color: #91BF29
    width: 100%
    height: 60px
    border-radius: 30px
    border: 0
    display: inline-block
    background-repeat: no-repeat
    background-position: 65% center
    background-image: url(../img/search.svg)
.form-filter
    .search-btn
        margin-bottom: 30px
        display: none
    
.filter
    margin-bottom: 20px
    .filter-btn
        display: block
    &__row
        font-size: 16px
        color: #2A2A2A
        margin-top: 20px
    &__inner
        display: none
    &__hide
        cursor: pointer
        text-align: center
        margin-top: 30px
        font-size: 18px
        line-height: 22px
        color: #666B71
    &.active
        padding-left: 10px
        padding-right: 10px
        padding-top: 20px
        padding-bottom: 30px
        border: 1px solid #D7F0FF
        border-radius: 30px
        .filter-btn
            display: none
        .filter
            &__inner
                display: block



.badge
    padding-left: 20px
    padding-right: 20px
    padding-top: 18px
    padding-bottom: 18px
    border-radius: 30px
    display: inline-flex
    margin-right: 10px
    &__icon
        width: 24px
        height: 24px
        margin-right: 10px
    &__text
        font-size: 18px
        color: #FFFFFF

    &_green
        background-color: #91BF29

    &_blue
        background-color: #076197

    &_gray
        background-color: #F2F7FA
        border: 1px solid #91BF29
        .badge
            &__text
                color: #666B71



.text-block.text-hidden
    .btn-more
        margin-top: 12px
        display: none

    &.text_hidden
        .text
            max-height: none !important
            overflow: visible !important
            &:after
                display: none

        .btn-more
            display: none


.gallery
    &__item
        padding-left: 10px
        padding-right: 10px
        
        img
            max-width: 100%
            height: auto
            border-radius: 30px
            overflow: hidden


.tour3d
    margin-top: 30px
    border-radius: 30px
    background-image: url(../img/3d.jpg)
    text-align: center
    padding: 30px
    &__icon
        display: flex
        margin-left: auto
        margin-right: auto
        width: 126px
        height: 126px
        background: radial-gradient(107.54% 107.54% at 15.87% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
        backdrop-filter: blur(4px)
        border-radius: 50%
        margin-bottom: 16px
        svg
            margin: auto


.block-acc
    border: 2px solid #A4DDFF
    border-radius: 30px
    user-select: none
    margin-bottom: 20px
    &__close
        width: 20px
        height: 20px
        position: absolute
        top: 37px
        right: 20px
    &__title
        padding-top: 32px
        padding-bottom: 32px
        font-weight: 600
        font-size: 22px
        line-height: 27px
        color: #303844
        padding-right: 50px
        padding-left: 20px
        position: relative
        cursor: pointer
    &__text
        font-size: 18px
        line-height: 1.5
        color: #303844
        padding: 0 20px
        display: none
    &.active
        border-color: #91BF29

        .block-acc
            &__text
                display: block
            &__close
                svg
                    transform: rotate(45deg)
                    path
                        fill: #91BF29


.table
    overflow-x: auto
    border-radius: 30px
    background-color: #fff
    border: 2px solid #D7F0FF
    table
        th
            font-weight: 500
            font-size: 18px
            line-height: 140%
            color: #303844
            border-right: 2px solid #D7F0FF
            padding-bottom: 35px
            padding-top: 35px
            padding-left: 20px
            padding-right: 20px
            border-bottom: 2px solid #D7F0FF
            &:last-child
                border-right: 0
        td
            font-size: 18px
            line-height: 140%
            color: #666B71
            border-right: 2px solid #D7F0FF
            padding-top: 28px
            padding-bottom: 28px
            padding-left: 20px
            padding-right: 20px
            border-bottom: 2px solid #D7F0FF
            &:last-child
                border-right: 0

        tr
            &:last-child
                td
                    border-bottom: none


.file
    border-radius: 30px
    padding: 32px
    border: 2px solid #D7F0FF
    display: inline-block
    text-decoration: none !important
    &__icon
        width: 120px
        height: 120px
        border-radius: 50%
        background-color: #D7F0FF
        display: flex
        margin-left: auto
        margin-right: auto
        svg
            margin: auto

    &__text
        margin-top: 16px
        font-size: 24px
        line-height: 30px
        text-align: center
        color: #303844

.tariff-list
    display: flex
    &__item
        border: 1px solid #D7F0FF
        border-radius: 30px
        padding-left: 15px
        padding-right: 15px
        padding-top: 32px
        text-align: center
        margin-left: 5px
        margin-right: 5px
        transition: .3s ease
        padding-bottom: 180px
        position: relative
        // width: 280px
        &-heading
            font-size: 22px
            line-height: 1.22
            text-align: center
            color: #303844
            margin-bottom: 24px
            font-weight: 600
        &-text
            font-size: 18px
            line-height: 2
            color: #303844

        &-price
            margin-top: 24px
            margin-bottom: 24px
            font-size: 32px
            line-height: 1.21
            text-align: center
            color: #076197
            bottom: 116px - 22px
            position: absolute
            width: calc(100% - 30px)
            left: 15px
        .btn
            display: inline-block
            width: calc(100% - 30px)
            position: absolute
            left: 15px
            bottom: 32px
        &:hover
            border-color: #91BF29

